body {
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    font-family: "Roboto","Helvetica","Arial",sans-serif;

}
div {
    margin: 5px auto;
}
.wrapper {
    max-width: 1024px;
    min-height: 100vh;
    text-align: center;
}

.h3 {
    margin-bottom: 7px;
}

.add-new {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 24px;
    margin: auto;
    padding: 0;
    overflow: hidden;
    color: rgba(0, 0, 0, 0.52);
    background: rgba(158,158,158,.15);
    box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
    line-height: normal;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
}
.add-new:active {
    box-shadow: 0 0 8px rgba(0,0,0,.18), 0 8px 16px rgba(0,0,0,.36);
    background-color: rgba(158,158,158,.4);
    color: rgba(0, 0, 0, 0.92);
}

.item {
    overflow: hidden;
}

.item input { 
    border:0px;
    border-bottom: 1px solid grey;
    outline: none;
    height: 30px;
    width: 100px;
    font-size: 24px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
}

.inp-val {
    text-align: center;
}

textarea:disabled, input:disabled {
    background-color: #ffffff;
    border: none;
}
.warning-border {
    border-bottom: 1px solid red !important;
}
.item-row {
    height: 80px;
    width: 320px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    margin: 5px auto;
    padding: 15px 30px;
    position: relative;
    opacity: 1;
    transition: all .3s;
}
.hide {
    opacity: 0;
    height: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

.item-row .but {
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    transition: all .7s;
    bottom: 0px;
    background-color: #c2c2c2;


}

.item-row .b2 {
    right: 5px;
}

.item-row .b2.active {
    right: -50px;
}

.item-row .b3 {
    left: -50px;
}
.item-row .b3.active {
    left: 155px;
}
.item-row .b4 {
    left: -50px;
}
.item-row .b4.active {
    left: 105px;
}
.item-row .b5 {
    left: -50px;
}
.item-row .b5.active {
    left: 5px;
}
.item-row .b-plus {
    right: -50px;
}
.item-row .b-plus.active {
    right: 55px;
}
.item-row .b-minus {
    right: -50px;
}
.item-row .b-minus.active {
    right: 105px;
}
.item-row .valA {
    right: -50px;
    background-color: #fff;
}
.item-row .valA.active {
    right: 155px;
}
